{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags  %}
{% block content %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                            START SECTION 2 - THE INTRO SECTION
/////////////////////////////////////////////////////////////////////////////////////////////////////-->
<section class="hero" id="hero">
    <div class="heroText">
        <h1 class="text-white display-2--intro mt-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="800">
            Tú lo imaginas
        </h1>

        <p class="text-white " data-aos="fade-up" data-aos-delay="1000">
            <strong class="custom-underline">Nosotros</strong> lo hacemos por ti
        </p>
    </div>

    <div class="videoWrapper">
        <video autoplay="" loop="" muted="" class="custom-video" poster="videos/792bd98f3e617786c850493560e11c45.jpg">
            <source src="{% static 'videos/video_banner.mp4' %}" type="video/mp4">

            Su navegador no soporta la etiqueta de vídeo.
        </video>
    </div>
    <div class="overlay"></div>
</section>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////
                             START SECTION 3 - THE CAMPANIES SECTION
////////////////////////////////////////////////////////////////////////////////////////////////////-->

<section id="campanies" class="campanies">
    <div class="container">
        <div class="row text-center">
            <h2 class="fw-bold lead-custom mb-3 mt-5">Clientes de nuestra empresa</h2>
            <div class="heading-line mb-5"></div>
        </div>
    </div>
    <!-- START THE CAMPANIES CONTENT  -->
    <div class="container">
        <div class="row">
            {%for l in self.logo_image.all %}
            <div class="col-md-4 col-lg-2">
                {% image l.logo_cliente original as logo%}
                <div class="campanies__logo-box shadow-sm">
                    <img src="{{logo.url}}" alt="Campany 1 logo" title="Campany 1 Logo"
                         class="img-fluid">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////
                         START SECTION 4 - THE SERVICES
///////////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="services" class="services">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold">Nuestros Servicios</h1>
            <div class="heading-line mb-1"></div>
        </div>
        <!-- START THE DESCRIPTION CONTENT  -->
        <div class="row pt-2 pb-2 mt-0 mb-3">
            <div class="col-md-6 border-right">
                <div class="bg-white p-3">
                    <h2 class="fw-bold text-capitalize text-center">
                        Desarrollo, diseño gráfico y producción de contenido multimedia.
                    </h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-white p-4 text-start">
                    <p class="fw-light">
                        Somos una empresa especializada en brindar soluciones integrales en desarrollo, diseño gráfico
                        y producción de contenido multimedia, adaptadas a las necesidades de nuestros clientes para
                        potenciar su presencia digital y alcanzar sus objetivos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- START THE CONTENT FOR THE SERVICES  -->
    <div class="container">
        <!-- START THE MARKETING CONTENT  -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                    <div class="icon d-block fas fa-paper-plane"></div>
                    <h3 class="display-3--title mt-1">Marketing</h3>
                    <p class="lh-lg">
                        En nuestra empresa, el marketing no es solo una estrategia, es un compromiso contigo y tu marca.
                        Nos dedicamos a comprender profundamente tus necesidades, objetivos y valores para crear
                        campañas personalizadas que generen resultados tangibles.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
                <div class="services__pic">
                    <img src="{% static 'images/marketing.png' %}" alt="marketing illustration" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- START THE WEB DEVELOPMENT CONTENT  -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-start">
                <div class="services__pic">
                    <img src="{% static 'images/desarrollo.png' %}" alt="web development illustration"
                         class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                    <div class="icon d-block fas fa-code"></div>
                    <h3 class="display-3--title mt-1">desarrollo web</h3>
                    <p class="lh-lg">
                        En nuestra empresa, el desarrollo web va más allá de la creación de un simple sitio. Nos
                        dedicamos a construir experiencias digitales cautivadoras y funcionales que deleitan a tus
                        usuarios y potencian tu marca.
                    </p>
                </div>
            </div>
        </div>
        <!-- START THE CLOUD HOSTING CONTENT  -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
                <div class="services__content">
                    <div class="icon d-block fas fa-cloud-upload-alt"></div>
                    <h3 class="display-3--title mt-1">alojamiento en la nube</h3>
                    <p class="lh-lg">
                        En nuestra empresa, entendemos que la eficiencia y la flexibilidad son fundamentales para el
                        éxito de cualquier negocio en el mundo digital actual. Es por eso que ofrecemos soluciones de
                        alojamiento en la nube diseñadas para satisfacer tus necesidades específicas y permitirte
                        escalar según sea necesario.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
                <div class="services__pic">
                    <img src="{% static 'images/nube.png' %}" alt="cloud hosting illustration" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 5 - THE TESTIMONIALS
/////////////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="testimonials" class="testimonials">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fff" fill-opacity="1"
              d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
    <div class="container">
        <div class="row text-center text-white">
            <h1 class="display-3 fw-bold">Testimonials</h1>
            <hr style="width: 100px; height: 3px; " class="mx-auto">
            <p class="lead pt-1">what our clients are saying</p>
        </div>

        <!-- START THE CAROUSEL CONTENT  -->
        <div class="row align-items-center">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- CAROUSEL ITEM 1 -->
                    <div class="carousel-item active">
                        <!-- testimonials card  -->
                        <div class="testimonials__card">
                            <p class="lh-lg">
                                <i class="fas fa-quote-left"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque
                                repudiandae. Distinctio.
                                <i class="fas fa-quote-right"></i>
                            <div class="ratings p-1">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            </p>
                        </div>
                        <!-- client picture  -->
                        <div class="testimonials__picture">
                            <img src="images/testimonials/client-1.jpg" alt="client-1 picture"
                                 class="rounded-circle img-fluid">
                        </div>
                        <!-- client name & role  -->
                        <div class="testimonials__name">
                            <h3>Patrick Muriungi</h3>
                            <p class="fw-light">CEO & founder</p>
                        </div>
                    </div>
                    <!-- CAROUSEL ITEM 2 -->
                    <div class="carousel-item">
                        <!-- testimonials card  -->
                        <div class="testimonials__card">
                            <p class="lh-lg">
                                <i class="fas fa-quote-left"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque
                                repudiandae. Distinctio.
                                <i class="fas fa-quote-right"></i>
                            <div class="ratings p-1">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            </p>
                        </div>
                        <!-- client picture  -->
                        <div class="testimonials__picture">
                            <img src="images/testimonials/client-2.jpg" alt="client-2 picture"
                                 class="rounded-circle img-fluid">
                        </div>
                        <!-- client name & role  -->
                        <div class="testimonials__name">
                            <h3>Joy Marete</h3>
                            <p class="fw-light">Finance Manager</p>
                        </div>
                    </div>
                    <!-- CAROUSEL ITEM 3 -->
                    <div class="carousel-item">
                        <!-- testimonials card  -->
                        <div class="testimonials__card">
                            <p class="lh-lg">
                                <i class="fas fa-quote-left"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque
                                repudiandae. Distinctio.
                                <i class="fas fa-quote-right"></i>
                            <div class="ratings p-1">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            </p>
                        </div>
                        <!-- client picture  -->
                        <div class="testimonials__picture">
                            <img src="images/testimonials/client-3.jpg" alt="client-3 picture"
                                 class="rounded-circle img-fluid">
                        </div>
                        <!-- client name & role  -->
                        <div class="testimonials__name">
                            <h3>ClaireBelle Zawadi</h3>
                            <p class="fw-light">Global brand manager</p>
                        </div>
                    </div>
                    <!-- CAROUSEL ITEM 4 -->
                    <div class="carousel-item">
                        <!-- testimonials card  -->
                        <div class="testimonials__card">
                            <p class="lh-lg">
                                <i class="fas fa-quote-left"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque
                                repudiandae. Distinctio.
                                <i class="fas fa-quote-right"></i>
                            <div class="ratings p-1">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            </p>
                        </div>
                        <!-- client picture  -->
                        <div class="testimonials__picture">
                            <img src="images/testimonials/client-4.jpg" alt="client-4 picture"
                                 class="rounded-circle img-fluid">
                        </div>
                        <!-- client name & role  -->
                        <div class="testimonials__name">
                            <h3>Uhuru Kenyatta</h3>
                            <p class="fw-light">C.E.O & Founder</p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-light fas fa-long-arrow-alt-left" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    </button>
                    <button class="btn btn-outline-light fas fa-long-arrow-alt-right" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fff" fill-opacity="1"
              d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</section>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
                              START SECTION 7 - THE PORTFOLIO
//////////////////////////////////////////////////////////////////////////////////////////////////////-->

<section id="portfolio" class="portfolio">
    <div class="container">
         {% if projects %}
        <div class="row text-center mt-5">
            <h1 class="display-3 fw-bold text-capitalize">Ultimos Proyectos</h1>
            <div class="heading-line"></div>
            <p class="lead">
                Nuestros proyectos ejemplifican nuestra firme dedicación a superar las expectativas de cada cliente,
                demostrando nuestra capacidad de brindar soluciones que destacan por su excelencia.
            </p>
        </div>
        <!-- FILTER BUTTONS  -->
        <div class="row mt-5 mb-4 g-3 text-center">
            <div class="col-md-12">
                <button class="btn btn-outline-primary" type="button">Todos</button>
                <button class="btn btn-outline-primary" type="button">Sitios Web</button>
                <button class="btn btn-outline-primary" type="button">Diseño Grafico</button>
                <button class="btn btn-outline-primary" type="button">Audiovisual</button>
            </div>
        </div>

        <!-- START THE PORTFOLIO ITEMS  -->
        <div class="row">
            {% for p in projects %}
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-box shadow">
                    {% for x in p.img_project.all %}
                    {% image x.imagen_proyecto original as project_img%}
                    <img src="{{project_img.url}}" alt="portfolio 1 image" title="portfolio 1 picture"
                         class="img-fluid">
                    {% endfor %}
                    <div class="portfolio-info">
                        <div class="caption">
                            <h4>{{ p.titulo_proyecto}}</h4>
                            <p>category project</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////
              START SECTION 8 - GET STARTED
/////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<section id="contact" class="get-started">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold text-capitalize">Comienza ahora mismo</h1>
            <div class="heading-line"></div>
            <p class="lh-lg">
                Permítenos convertir en realidad tu próximo proyecto.
            </p>
        </div>

        <!-- START THE CTA CONTENT  -->
        <div class="row text-white">
            <div class="col-12 col-lg-6 gradient shadow p-3">
                <div class="cta-info w-100">
                    <h4 class="display-4 fw-bold">100% Satisfacción Garantizada</h4>
                    <p class="lh-lg">
                        Podemos materializar o perfeccionar tu proyecto o idea de negocio. Nuestra amplia experiencia en
                        el sector público y privado respalda la calidad que entregamos en cada producto.
                    </p>
                    <h3 class="display-3--brief">¿Cuál será el siguiente paso?</h3>
                    <ul class="cta-info__list">
                        <li>Prepararemos la propuesta.</li>
                        <li>La discutiremos juntos.</li>
                        <li>Comencemos el proyecto.</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 bg-white shadow p-3">
                <div class="form w-100 pb-2">
                    <h4 class="display-3--title mb-5">Comienza tu proyecto</h4>
                    <form action="#" class="row">
                        <div class="col-lg-6 col-md mb-3">
                            <input type="text" placeholder="Nombres" id="inputFirstName"
                                   class="shadow form-control form-control-lg">
                        </div>
                        <div class="col-lg-6 col-md mb-3">
                            <input type="text" placeholder="Apellidos" id="inputLastName"
                                   class="shadow form-control form-control-lg">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <input type="email" placeholder="Correo Electrónico" id="inputEmail"
                                   class="shadow form-control form-control-lg">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <textarea name="message" placeholder="Mensaje" id="message" rows="8"
                                      class="shadow form-control form-control-lg"></textarea>
                        </div>
                        <div class="text-center d-grid mt-1">
                            <button type="button" class="btn btn-primary rounded-pill pt-3 pb-3">
                                Enviar
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}